header {
  nav {
    min-height: 72px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .logo {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      min-width: 400px;
      height: 120px;
      gap: 5px;
      @include border($off-white);

      a {
        text-decoration: none;
        svg {
          width: 120px;
          height: 120px;
        }
      }
      .home-label {
        font-weight: lighter;
        color: black;
        a {
          font-size: 18px;
        }
      }
    }
    .idea {
      @include border($off-white);
      height: 120px;
      min-width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #6e6e6e;
        font-weight: 500px;
        font-size: 42px;
      }

    }
    .modes {
      height: 120px;
      min-width: 200px;
      @include border($off-white);
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        border: none;
        background-color: #faf9f6;
        cursor: pointer;
        svg {
        width: 42px;
        height: 42px;
      }
      }
    }
  }
}
