header {
  nav {
    min-height: 72px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      min-width: 400px;
      height: 120px;
      gap: 5px;
      background-color: #faf9f6;
      border: 1px solid #faf9f6;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

      a {
        text-decoration: none;
        svg {
          width: 120px;
          height: 120px;
        }
      }
      .home-label {
        font-weight: lighter;
        // color: #7A3FFF;
        color: black;
        a {
          font-size: 18px;
        }
      }
    }
    .idea {
      background-color: #faf9f6;
      border: 1px solid #faf9f6;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      height: 120px;
      min-width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #6e6e6e;
        font-weight: 500px;
        font-size: 42px;
      }

    }
    .modes {
      height: 120px;
      min-width: 200px;
      background-color: #faf9f6;
      border:  1px solid #faf9f6;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 42px;
        height: 42px;
      }
    }
  }
}
